.homepage{
    background-image: url(../assets/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;

    
    .cardshome{
        background-color: white;
        width: 80%;
        display: flex;
        height: 70%;
        margin-top: 3rem;
        box-shadow:  0 0 5px rgba(0,0,0,0.25);
        .cardimage{
         width: 50%;
         height: 70vh;
         background-image: url(../assets/card.jpg);
         background-repeat: no-repeat;
         background-size: cover;
        //  box-shadow:  0 0 5px rgba(0,0,0,0.25);
        }
        .cardcontent{
            width: 50%;
            padding: 1rem 2rem; 
            text-align: center;
          h2{
            // padding: 1rem 2rem;
            font-size: 30px;
            color: rgb(1, 198, 175);
            
            }
            p{
                margin-top: 3rem;
                font-size: large;
                color: rgb(0, 46, 42);
            }  
            .homebutton{
                cursor: pointer;
                margin-top: 5rem;
                
            }
        }
        @media screen and (max-width:900px) {
            .cardimage{
                display: none;
            }
            .cardcontent{
                width: 100%;
            }
           
        }
        @media screen and (max-width:550px) {
            .cardcontent{
                h2{
                    font-size: 20px;
                }
                button{
                    width: 10rem;
                    height: 2.5rem;

                }
            } 
        }
       
    }
}